body{
  max-width: 1440px;
  margin: 0 auto;
}
.form{
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  
  justify-content: center;
  max-width: 300px;
  
}
.form .form_officeDescription{
  height: 100px;
}

.form .form_button{
  margin-top: 20px;
}