.office{
    display: flex;
    flex-direction: column; 
    width: 45%;
    margin: 0 auto;
    justify-content: center;
}
.office_title{
    text-align: center;
}
.office_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    justify-content: stretch;
    margin-top: 40px;
  }
.office_container .office_card{
    display: grid;
    grid-template-rows: 2;
    padding: 60px;
    justify-content: center;
    margin: 0 20px;
  
    background-color: rgb(21, 21, 46);
    color: rgb(201, 192, 192);
  }