body{
    scroll-behavior: smooth;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 50px;
    
    background-color: rgba(21, 21, 46, 0.9);
}
.navbar .navbar_list{
    display: flex;
    justify-content: center;
    align-items: center;
}    
.navbar .navbar_list .navbar_item{
    list-style-type: none;
    padding-top: 4px;
    margin: 0px 15px;

    font-size: 35px;
}
.navbar .navbar_list .navbar_item .navbar_link{
    text-decoration: none;
    color: white;
    transition: all ease 0.2s;
}
.navbar .navbar_list .navbar_item .navbar_link:hover{
    background-color: #9b27d8;
    color: rgba(21, 21, 46, 0.9);
    border-radius: 40px;
    padding: 5px;
}
