body{
  margin: 0 auto ;
}
.form{
  display: flex;
  flex-direction: column; 
  width: 45%;
  margin: 0 auto;
  justify-content: center;
  
}
.form .form_officeDescription{
  height: 100px;
}

.form .form_button{
  margin-top: 20px;
}
